<body>
<div class="login">
  <form class="custom-form" method="post">
    <h1>Iniciar sesión</h1>
    <input
      type="email"
      [(ngModel)]="username"
      name="username"
      id="username-input"
      placeholder="Username..."
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      id="password-input"
      placeholder="Contraseña..."
      required="required"
    />
    <button type="submit" id="login-btn" [disabled]="validate()" (click)="login()">Iniciar sesion</button>
  </form>

  <p>
    <a routerLink="/register">Registrarse</a> - <a routerLink="/forgotPassword">Olvide mi contraseña</a>
  </p>


  <div class="error">
    <div *ngIf="userError">
      El usuario o la contraseña son incorrectos
    </div>

    <div *ngIf="serviceError">
      Ha ocurrido un error inesperado: {{this.serviceErrorMessage}}
    </div>
  </div>
</div>
</body>