<div class="boton back">
    <button mat-icon-button (click)="exit()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<h1>Torneo de {{gameService.jugadoresTorneo[0].nombre}}</h1>
<h3>Jugadores:  {{gameService.jugadoresTorneo.length}} / {{nJugadores}}</h3>
<div class="center">
    <div class="pack" *ngFor="let e of [].constructor(nJugadores); let i = index">
        <div class="persona" *ngIf="gameService.jugadoresTorneo[i] === undefined">
            <a>
                    <mat-icon class="empty" >person</mat-icon>
            </a>
        </div>
        <div class="persona filled" *ngIf="gameService.jugadoresTorneo[i] !== undefined">
            <mat-icon class="filled">person</mat-icon>
        </div>
        <div class="datos" *ngIf="gameService.jugadoresTorneo[i] !== undefined">
            <b>{{gameService.jugadoresTorneo[i].nombre}}</b>
        </div>
    </div>
</div>
<div class="status" *ngIf="this.gameService.jugadoresTorneo.length == 9">
    <h2>La partida comenzara pronto...</h2>
</div>



<div class="caja_abajo">
    <div class="status" *ngIf="this.gameService.jugadoresTorneo.length != 9">
        <h2>Esperando a jugadores</h2>
        <mat-spinner class="spinner"></mat-spinner>
    </div>    
</div>
