<!DOCTYPE html>
<html>
<head>

</head>
    <body>

        <div class="game">
            <hr>
            <div class="otrosJugadores">
                <div class="player" *ngFor="let item of jugadores;let indice=index">
                    <h2>{{item.nombre}}</h2>
                    <div class="group">
                        <img class="otrosJugadores" src="assets/img/cartas/back.png">
                        <p class="otrosJugadores">x {{item.mano.length()}}</p>
                        <!-- <button *ngIf="item.mano.length() == 1" class="uno">UNO</button> -->
                    </div>
                </div>
            </div>
            <hr>


            <div class="cartaCentro" *ngFor="let item of pilaCartas;let indice=index">
                <img class="cartaCentro"
                    [ngStyle]="{ 'transform': 'rotate('+this.randomRotation[indice]+'deg)' }"
                    src="assets/img/cartas/{{item.color}}-{{item.value}}.png"
                    [style.z-index]="indice"
                >
            </div>

            <div class="mano">
                <div class="carta" *ngFor="let item of jugadores[this.indexYo].mano.getArray();let indice=index">
                    <img class="carta" 
                        src="assets/img/cartas/{{item.color}}-{{item.value}}.png"
                        (click)="playCard(item)"
                    >
                </div>
            </div>
            <button mat-fab color="primary" class="uno">UNO</button>

            
            
            
        </div>
    </body>
</html>