/* ---------------------------- LISTA JUGADORES ---------------------------- */

div.otrosJugadores {
  display: flex;
  justify-content: center;
}

div.player {
  display: inline;
  width: 10%;
  height: auto;
  text-align: center;
}

div.group {
  display: inline-block;
}

img.otrosJugadores {
  height: 10ch;
  margin-right: 2ch;

  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 16px;
}

p.otrosJugadores {
  height: 5ch;
  display: inline;
  line-height: 5ch;
  text-align: left;
  font-size: xx-large;
}

h2 {
  margin: 0%;
  text-align: center;
}

/* ---------------------------- PILA CENTRAL ---------------------------- */

div.cartaCentro {
  display: inline-block;
}

img.cartaCentro {
  height: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 16px;

  position: absolute;
  top: 40%;
  left: 47%;
}

/* ---------------------------- CHAT ---------------------------- */
button.openChat {
  position: absolute;
  top: 57%;
  right: 90%;
  background-color: gray;
  width: 7vw;
  height: 7vw;
}

.mat-icon {
  display:inline;
  font-size: 6vh;
}

/* ---------------------------- MANO ---------------------------- */

div.mano {
  position: absolute;
  width: 90%;
  height: 20%;
  bottom: 1ch;
  left: 4%;

  display: flex;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;

  border-width: 6px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}


div.carta {
  display: inline-block;
}

img.carta {
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 16px;
  
  margin-right: -10ch;
}

img.carta:hover {
  margin-right: -2ch;
}

button.uno {
  position: absolute;
  top: 57%;
  left: 90%;
  width: 7vw;
  height: 7vw;
}

/* ---------------------------- OTHER ---------------------------- */
body {
  background: #5bab63;
}

.final {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(255,255,255,0.8) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0.1s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.volverFinal {
  position: absolute;
  top: 60vh;
  width: 25ch;
  border-radius: 10px;
}