<div class="final" *ngIf="end">
    <h1>HA GANADO {{this.winner}}</h1>
    <button mat-fab color="primary" class="volverFinal" (click)="salir()">SALIR AL MENU INICIAL</button>
</div>
<div class="game">
    <hr>
    <div class="otrosJugadores">
        <div class="player" *ngFor="let item of this.gameService.jugadores;let indice=index" [ngClass]="{'fade': this.gameService.letoca != item.nombre}">
            <h2>{{item.nombre}}</h2>
            <div class="group">
                <img class="otrosJugadores" src="assets/img/cartas/back.png">
                <p class="otrosJugadores">x {{item.cartas.length()}}</p>
            </div>
            <br>
        </div>
    </div>
    <hr>

    <button mat-icon-button mat-button (click)="openChat()" class="openChat">
        <mat-icon>chat</mat-icon>
    </button>

    <div class="cartaCentro" *ngFor="let item of gameService.pilaCartas;let indice=index">
        <img class="cartaCentro"
            [ngStyle]="{ 'transform': 'rotate('+this.randomRotation[indice%50]+'deg)' }"
            src="assets/img/cartas/{{item.color}}-{{item.value}}.png"
            [style.z-index]="indice"
        >
    </div>
    <div class="mano" [ngClass]="{'fade': (this.gameService.letoca != this.userService.username) || this.gameService.robando}">
        <div class="carta" *ngFor="let item of this.gameService.jugadores[this.gameService.indexYo].cartas.getArray();let indice=index">
            <img class="carta" 
            [ngClass]="{'openToSee': indice != (this.gameService.jugadores[this.gameService.indexYo].cartas.length()-1)}"
                src="assets/img/cartas/{{item.color}}-{{item.value}}.png"
                (click)="playCard(item)"
            >
        </div>
    </div>
    <button mat-fab color="primary" class="uno" (click)="sendUno()" [disabled]="this.gameService.saidUno">UNO</button>
</div>