
<body>
    <div class="boton back">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <button  class= "reglas" (click) = "abrirReglas()" mat-button>
        Reglas
    </button>
    <!-- <div class="boton settings">
        <button mat-icon-button (click)="popupAdmin()">
            <mat-icon>settings</mat-icon>
          </button>
    </div>
    <div class="reglas">
        <h2>Reglas activas:</h2>
        <ul>
            <li *ngIf="this.gameService.partida.reglas.includes('CERO_SWITCH')"><b>0 switch</b>: Cada vez que un usuario juegue la carta normal con numero 0, todos los jugadores pasan su mano al siguiente jugador en el sentido del juego.</li>
            <li *ngIf="this.gameService.partida.reglas.includes('CRAZY_7')"><b>Crazy 7</b>: Cada vez que un jugador juegue la carta normal con numero 7, podra elegir a otro jugador para intercambiar su mano. </li>
            <li *ngIf="this.gameService.partida.reglas.includes('PROGRESSIVE_DRAW')"><b>Progressive draw</b>: Cuando en la cima de la pila de descartes haya una carta +2 o +4, el jugador que tenga el turno puede evitar robar jugando otra carta +2 si son del mismo color o +4, acumulando la cantidad de cartas pendientes por robar para el siguiente jugador.</li>
            <li *ngIf="this.gameService.partida.reglas.includes('CHAOS_DRAW')"><b>Chaos draw</b>: Si en algun momento el jugador debe robar cartas, el jugador robara una cantidad aleatoria entre 0 y 6 cartas.</li>
            <li *ngIf="this.gameService.partida.reglas.includes('BLOCK_DRAW')"><b>Block draw</b>: Si el jugador anterior ha jugado una carta +2 o +4, el jugador que tenga el turno puede evitar robar jugando la carta Bloqueo, saltando su propio turno y dejando las cartas pendientes de robar al siguiente jugador. El siguiente jugador puede encadenar otra carta de Bloqueo y evitar robar tambien.</li>
            <li *ngIf="this.gameService.partida.reglas.includes('REPEAT_DRAW')"><b>Repeat draw</b>: Si es el turno de un jugador y no puede jugar ninguna de las cartas de su mano, el jugador debera robar cartas de 1 en 1 hasta que pueda jugar una.</li>
            <li *ngIf="this.gameService.partida.reglas.length == 0"><b>No hay reglas especiales activas</b></li>
        </ul>
    </div>
-->

    <h1>Partida privada de {{gameService.jugadores[0].nombre}}</h1>
    <h3>Jugadores:  {{gameService.jugadores.length}} / {{nJugadores}}</h3>
    <div class="center">
        <div class="pack" *ngFor="let e of [].constructor(nJugadores); let i = index">
            <div class="persona" *ngIf="gameService.jugadores[i] === undefined">
                <button mat-icon-button mat-button (click)="openFriends()">
                      <mat-icon class="empty">add</mat-icon>
                </button>
            </div>
            <div class="persona filled" *ngIf="gameService.jugadores[i] !== undefined">
                <mat-icon class="filled">person</mat-icon>
            </div>
            <div class="datos" *ngIf="gameService.jugadores[i] !== undefined">
                <b>{{gameService.jugadores[i].nombre}}</b>
                <div *ngIf="(gameService.jugadores[0].nombre == this.userService.username)&&(this.userService.username != gameService.jugadores[i].nombre)">
                    <button (click)="expulsar(gameService.jugadores[i].nombre)">Expulsar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="status" *ngIf="(gameService.jugadores.length == nJugadores) && (gameService.jugadores[0].nombre != userService.username)">
        <h2>La partida comenzara pronto...</h2>
    </div>
    <div class="center begin" *ngIf="(gameService.jugadores.length == nJugadores) && (gameService.jugadores[0].nombre == userService.username)">
        <button mat-icon-button (click)="beginGame()">
            Empezar partida
        </button>
    </div>
    
    
    <div class="caja_abajo">
        <div class="status" *ngIf="gameService.jugadores.length != nJugadores">
            <h2>Esperando a jugadores</h2>
            <mat-spinner class="spinner"></mat-spinner>
        </div>
        <div class="codigo">
            <h2>Código: {{this.matchID}}</h2>
            <mat-icon (click)="copyText()" class="posicion-clipboard">content_copy</mat-icon>
        </div>    
    </div>
    
</body>
