<div ng-init = "cargar_amigos()" class="friend_list">
    <div class="title">
      <h2>Lista de amigos</h2>
    </div>
    <div class="friend">
      <div *ngFor="let friend of listaAmigos;">
        <tr class="lista-amigos1">
          <td class="lista-amigos"><mat-icon>account_box</mat-icon></td>
          <span class="example-spacer"></span>
          <td>{{friend}}</td>
          <span class="example-spacer"></span>
          <td>
            <button mat-button>
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
        <mat-divider></mat-divider>
      
      </div>
    <div class="group">
        <input class="input-user" type="text" id="nameUser2Search-input" name="nameUser2Search" [(ngModel)]="nameUser2Search" autocomplete="off" placeholder="&#61442;  Puedes buscar usuarios aquí"> 
        <button mat-icon-button mat-button id="user-search-btn" type="submit" (click)="friend_reqButton()" class="openChat">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>

<!--ng-init = "mostrarAmigos()"*/ 

<div  class="lista-amigos">

<mat-dialog-content class="mat-typography">

  <input class="searcher-friends" id="searchbox" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Puedes buscar amigos aquí">
  <h3>
    <mat-list>

        <div *ngFor="let friend of listaAmigos;">
          <tr class="lista-amigos1">
            <td><mat-icon>account_box</mat-icon></td>
            <span class="example-spacer"></span>
            <td>{{friend.nombre}}</td>
            <span class="example-spacer"></span>
            <td>
              <button mat-button>
                <mat-icon>delete</mat-icon>
              </button></td>
          </tr>
          <mat-divider></mat-divider>
        
        </div>
      </mat-list>   
    </h3>
    
  </mat-dialog-content>
  <div class = "buscador-amigos">
    <input class="searcher-users" id="nameUser2Search-input" type="text" name="nameUser2Search"  [(ngModel)]="nameUser2Search" autocomplete="off" placeholder="&#61442;  Puedes buscar usuarios aquí"> 
    
    
    <button  type="submit" id="user-search-btn" (click)="friend_reqButton()" mat-icon-button >
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

</div>
-->