<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Menu</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        
        
        <link href="menu-inicial.component.css" rel="stylesheet" />

        </head>
<body>
<p>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
</p>

   <!-- 
    <ul class="navbar">

        
        <li class="clasif_menu">
            <a href= "#about">
            <img src="../../assets/img/trofeo-deportivo.png" width=70px height= 70px alt="" />
            </a>
        </li>
        <li class="amigos_menu">
            
                <a href= "#about">
                <img src="../../assets/img/friends.png" border = "0" width=70px height= 70px  />
            </a>
       
        
        </li>
        <li class="notis-menu">
                <a href= "#about">
                <img src="../../assets/img/bell.png" width=70px height= 70px alt="" />
       
        </a>
        </li>
    </ul>
    -->
<div class="masthead">
<hr class="separacion" size="4px" color="black" />
<button mat-button (click)="openDialog()"> Open dialog</button>
    <div class="mid-container">
       <div class="boton1">
            <a routerLink="/game">Partida rápida</a>
            <a href="#about">Unirse P.Privada</a>
            <a href="#about">Crear P.Privada</a>
        </div>
    </div>


    

</div>               
</body>
</html>
   
