
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #f4623a;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f4623a;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 244, 98, 58;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(238, 107, 107, 0.829), rgb(255, 255, 255));
  --bs-body-font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

.nav_menu{
  display:flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}

.clasif_menu{
  position: relative;

}
.amigos_menu{
  
  position: relative;
  left: 30%;
}



.notis_menu{
 position: relative;
left: 10%;

}



.separacion{
  margin-top: 20px;
}

.pop-container{
  background-color: #6b6766;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0;
  width: 500px;
  position: absolute;
  left: 50px;
 
  bottom: 0;
  opacity: 0%;
  z-index: -2;
}


.pop-container2{
  background-color: #6b6766;
 
  display:block;

  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  left:auto;
  right: auto;

  position: relative;

  width: 500px;


  

 
  opacity: 100%;
  z-index: 20;
}




.mid-container{
  width: auto;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal{
  background-color: white;
  display:inline-block;
  width: auto;
  min-width: 100px;
  padding: 30px 50px;
  min-height: 75px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #080808;

  

  margin-top: 100px;
  margin-bottom: auto;
}

.modal h1{
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  top: 10px;
}




.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.masthead {

  width: 100%;
  height: 100%;
  background: url("../../assets/img/fondo.png");
}

.example-spacer {
  flex: 1 1 auto;
}


@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.gx-4 {
  --bs-gutter-x: 1.5rem;
}
.gx-lg-5 {
  --bs-gutter-x: 3rem;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;
}

.col-lg-auto {
  flex: 0 0 auto;
  width: auto;
}
.align-self-baseline {
  align-self: baseline !important;
}  



.container{
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 100px;
  align-items: center;
  text-align: center;

}
*{
  margin:0;
  padding:0;
}


.boton1 a{
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
  width: 200px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  margin: auto;
  transition: 0.15s;


  
  background-color: #080808;
  color:white;

  
  margin-bottom: 100px;
  margin-top: 100px;

  border-radius: 15px;
}

.boton1 a:hover{
    width:300px;
}


.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.px-lg-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
