/*------------------------------------DIVS-----------------------------------------*/
div.mid-container{
  width: auto;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
}

div.botones {
  padding-top: 20vh;
}

/*------------------------------------TOOLBAR-----------------------------------------*/
mat-toolbar {
  background-color: #6b67667e;
  padding: 2ch;
}

span.spacer {
  flex: 1 1 auto;
}

.mat-icon-button{
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  display: inline;
  font-size: 6vh;
}

/*------------------------------------POPUP-----------------------------------------*/
/* .pop-container{
  background-color: #6b6766;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0;
  width: 500px;
  position: absolute;
  left: 50px;
 
  bottom: 0;
  opacity: 0%;
  z-index: -2;
} */

.pop-container2{
  display: block;
  height: auto;
  width: 75vw;
  margin: auto;

  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;

  align-items: center;
  justify-content: center;
  background-color: #6b6766;
  
  z-index: 20;
}


/*------------------------------------BOTONES-----------------------------------------*/

.botones a {
  display: block;
  width: 200px;
  height: 35px;
  padding-top: 15px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;

  text-align: center;
  text-decoration: none;
  
  background-color: #080808;
  color:white;
  border: 1px solid transparent;
  border-radius: 15px;
  
  transition: 0.15s;
}

.botones a:hover{
    width: 250px;
}
