<div class="loading" *ngIf="loading">
  <div class="ring"></div>
</div>
<div class="menuInicial">

  <mat-toolbar class="toolbar">
    <button mat-icon-button class ="clasif_menu" (click)="this.router.navigateByUrl('/leaderboard')">
      <mat-icon>stars</mat-icon>
    </button>
  
    <span class="example-spacer"></span>
    <span class="example-spacer"></span> 
  
    <button mat-icon-button mat-button (click)="openNotis()" class= "notis_menu">
      <mat-icon matBadge ="{{this.numInvi}}" matBadgeColor = "warn">notifications</mat-icon>
     <!-- <mat-icon *ngIf="noHayInvitaciones">notifications_active</mat-icon>-->
    </button>
    <span class="example-spacer"></span> 
    <label style="width: 0px;">Hola {{this.userService.username}}!</label>
    <span class="example-spacer"></span> 
    <button mat-icon-button mat-button (click)="openDialog()" class = "amigos_menu">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    
    <button mat-icon-button mat-button  class = edit_profile (click)="this.router.navigateByUrl('/edit-profile')">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="mid-container">
    <div class="boton1">
      <button mat-button (click)="buscarPublica()">Partida rápida</button>
      <button mat-button (click)="pedirCodigo()">Unirse P.Privada</button>
      <button mat-button (click)="crearPPrivada()">Crear P.Privada</button>
      <button mat-button (click)="this.router.navigateByUrl('/torneo')">Buscar torneo</button>
    </div>
  </div>
</div>
