


html, body{
  margin: 0;
  padding: 0;
}

body{
  background: url("../../assets/img/fondo.png");
}

div.menuInicial {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*------------------------------------TOOLBAR-----------------------------------------*/


.mat-toolbar{
  background-color: #6b67667e;
  padding: 2ch;
  margin-bottom: 5vh;
}

.mat-icon{
  display:inline;
  font-size: 7vh;
}





.amigos_menu{
  
 

  position: relative;
  right: 2.5%;
  

/*
  background: red;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px darken(red, 40%) inset, 0 5px 5px rgba(darken(red, 10%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
 */
}








/*----------------------------------------------------CUERPO MENU--------------------------------------*/



.pop-container{
  background-color: #6b6766;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0;
  width: 500px;
  position: absolute;
  left: 50px;
 
  bottom: 0;
  opacity: 0%;
  z-index: -2;
}


.pop-container2{
 
 
  display:block;

  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  left:auto;
  right: auto;

  position: relative;

  width: 500px;


  

 
  opacity: 100%;
  z-index: 20;
}




.mid-container{
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}



.example-spacer {
  flex: 1 1 auto;
}

.example-spacer2 {
  flex: 1 1 10%;
}




.boton1 button{
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  text-align: center;
 

  
  margin: auto;
  transition: 0.15s;

  
  
  background-color: #080808;
  color:white;

  font-family: "Permanent Marker";
  
  
  margin-bottom: 10vh;

  border-radius: 15px;
}

.boton1 button:hover{
    width:300px;
}






/*-----------------------------------------------------POP UPS-------------------------------------------- */


.tamanyo-popup{
  display:block;

  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  left:auto;
  right: auto;

  position: relative;

  width: 500px;

}


 /*----------------------------POP UP FRIENDS------------------------- */


 div.friend_list {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

div.title{
  align-items: center;
  text-align: center;
}

div.group {
  position: absolute;
  width: 25%;
  bottom: 1%;
}

div.friend {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
 
  
}

.input-user {
  width: 70%;
}



.no-amigos{
  position: relative;
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  color: red;
}



.lista-amigos1{

  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

.lista-amigos1:hover{
  background: #EEE;
}

.searcher-friends{

    display: block;
    position: relative;
    height: 3ch;
    width: 80%;
  
    margin:1%;
    margin-left: auto;
    margin-right: auto;
  
  
    font-size: large;

}


.searcher-users{

 

  display: block;
  position: relative;
  height: 4ch;
  width: 40%;


  
  margin-right: auto;



}
.buscador-amigos{
  display: flex;
}

.buscador-amigos button{
  position: absolute;
  padding-left: 10px;
  right: 50%;

}

.toolbar-amigos{
  background-color: #6b67667e;
  
  margin: 0;
  padding: 0%;
}



/* tabla amigos */





div.popup {
  text-align: center;
}





/*--------Pedir código P.Privada----------*/
.example-container .mat-form-field + .mat-form-field + .mat-label {
  margin-left: 8px;
  text-align: center;
}


/*-------Reglas partida privada------------*/



