<h2 class="header">Notificaciones</h2>
<div  class="pop-container2">
  <mat-dialog-content class="mat-typography">
    <h3>
      <mat-list>
        <div *ngFor="let mensaje of listaNotis;">
          <tr class="lista-amigos">
            <td>
              {{mensaje}}
            </td>
            <span class="example-spacer"></span>
            <td>Quiere ser tu amigo</td>
            <span class="example-spacer"></span>
            <td>
              <button (click) ="aceptarAmigo(mensaje)" mat-button>
                <mat-icon>done</mat-icon>
                
              </button>
              <button (click) = "borrar_noti(mensaje)" mat-button>
                <mat-icon>remove</mat-icon>
              </button>
            </td>
          </tr>
          
          <mat-divider></mat-divider>
        
        
        </div>
        <div *ngFor="let mensaje of listaInvitaciones;">
          <tr class="lista-amigos">
            <td>
              {{mensaje.name}}
            </td>
            <span class="example-spacer"></span>
            <td>{{mensaje.mensaje}}</td>
            <span class="example-spacer"></span>
            <td>
              <button (click)= "joinGame(mensaje.codigo)" mat-button>
                <mat-icon>done</mat-icon>
                
              </button>
              <button  mat-button (click) = "borrar_invi(mensaje.codigo)">
                <mat-icon>remove</mat-icon>
              </button>
            </td>
          </tr>
          
          <mat-divider></mat-divider>
        
        
        </div>
     
     
        </mat-list>
  
    </h3>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
  
  </div>