div.forgot-password {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

body {
  background: linear-gradient(to bottom, #FC7D7D, white);
  margin: 0px;
}

/*------------------------------ FORM ------------------------------ */
input {
  display: block;
  width: 600px;

  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size:large;
}

button {
  display: block;
  width: 200px;

  margin: 60px;
  margin-left: auto;
  margin-right: auto;

  font-size: large;
}

/*------------------------------ TEXTO ------------------------------ */
.error {
  color: red;
  margin-top: 10pt;
  margin-bottom: 10pt;
  text-align: center;
}