<div class="forgot-password">
    <h1>¿Se te olvidó la contraseña?</h1>
    <form class="custom-form" method="post">
        <input
        type="email"
        [(ngModel)]="email"
        name="email"
        id="email-input"
        placeholder="Email..."
        required="required"
        />
        <button type="submit" id="login-btn" [disabled]="validate()" (click)="login()">Cambiar contraseña</button>
    </form>
    <div *ngIf="serviceSent">
        Se ha enviado un correo para recuperar tu contraseña :)
    </div>
    <div class="error">

        <div *ngIf="serviceError">
        Ha ocurrido un error inesperado: {{this.serviceErrorMessage}}
        </div>
    </div>
</div>