html,body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body {
  background: url("assets/img/bg.png");
  background-position: 150px 150px; 
}


@font-face {
  font-family: "Permanent Marker";
  src: local("Permanent Marker"), url(./assets/fonts/PermanentMarker-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fredoka One";
  src: local("Fredoka One"), url(./assets/fonts/FredokaOne-Regular.ttf) format("truetype");
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Permanent Marker";
}

p, label, input, th, td {
  font-family: "Fredoka One";
}