<h1 mat-dialog-title>Esperando token de activación...</h1>
<div mat-dialog-content>Se le ha enviado un token a su correo. Porfavor introduzcalo para acabar la creación de la cuenta.</div>
<form class="custom-form" method="post">
    <input
    type="text"
    [(ngModel)]="nombre"
    name="nombre"
    id="nombre-input"
    placeholder="Usuario..."
    required="required"
    />
    <input
    type="text"
    [(ngModel)]="token"
    name="token"
    id="token-input"
    placeholder="Código..."
    required="required"
    />
    <div mat-dialog-actions>
        <button type="submit" id="login-btn" (click)="mandarCodigo()">Enviar código</button>
        
    </div>
    <div *ngIf="usuarioVacio" class="error">
        El usuario esta vacío. Porfavor introduzca un usuario correcto.
    </div>
    <div *ngIf="tokenVacio" class="error">
        El token esta vacío. Porfavor introduzca un token válido.
    </div>
    <div *ngIf="tokenIncorrecto" class="error">
        Token incorrecto. Porfavor introduzca un token correcto.
    </div>
</form>
