/*------------------------------ DIVS ------------------------------ */
div.register {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}


.btn-back {
  position:absolute;
  top:0;
  z-index: 99999;
  width: auto;
  height: auto;
}
.btn-rtn{
  z-index: 99999;
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1vh;
  left: 1vw;
  

  background-color:black;
}

.icon-rtn{
  z-index: 999;
  display: inline;
  font-size: 6vh;
  color:white;
}

/*------------------------------ FORM ------------------------------ */

.btn-token{
  
  width: 15%;
  height: 5%;
  float: right;
  
  margin: auto;

  display: flex;
  text-align: center;
  align-items: center;
  padding: auto;

}



input {
  display: block;
  width: 600px;

  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size:large;
  padding: 1ch;


  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
}

select {
  display: block;
  width: 600px;

  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size:large;
  padding: 1ch;


  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
}

input.tos {
  display: inline;
  width: 25px;
  height: 25px;
}

button {
  font-family: "Fredoka One";
  background-color: #C7261A;
  color: white;
  padding: 20px;
  border-radius: 12px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  cursor: pointer;

  display: block;
  width: 200px;
  height: 80px;

  margin: 60px;
  margin-left: auto;
  margin-right: auto;

  font-size: large;
}

button:disabled{
	cursor: default;
	background: dimgray;
	font-size: 18px;
}

/*------------------------------ TEXTO ------------------------------ */

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: large;
}

.error {
  color: red;
  margin-top: 10pt;
  margin-bottom: 10pt;
  text-align: center;
}
