/*------------------------------ DIVS ------------------------------ */
div.register {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}

/*------------------------------ FORM ------------------------------ */
input {
  display: block;
  width: 600px;

  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size:large;
  padding: 1ch;


  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
}

select {
  display: block;
  width: 600px;

  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size:large;
  padding: 1ch;


  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
}

input.tos {
  display: inline;
  width: 25px;
  height: 25px;
}

button {
  font-family: "Fredoka One";
  background-color: #C7261A;
  color: white;
  padding: 20px;
  border-radius: 12px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  cursor: pointer;

  display: block;
  width: 200px;
  height: 80px;

  margin: 60px;
  margin-left: auto;
  margin-right: auto;

  font-size: large;
}

button:disabled{
	cursor: default;
	background: dimgray;
	font-size: 18px;
}

/*------------------------------ TEXTO ------------------------------ */

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: large;
}

.error {
  color: red;
  margin-top: 10pt;
  margin-bottom: 10pt;
  text-align: center;
}
