
<body>
  <button  class= "btn-token" mat-button (click)="abrirEsperarToken()">
    Activar Cuenta
  </button>
<div class="register">
  <form class="custom-form" method="post">
    <h1>Registrarse</h1>
    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      id="username-input"
      placeholder="Username..."
      required="required"
    />
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      id="email-input"
      placeholder="Correo..."
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      id="password-input"
      placeholder="Contraseña..."
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="confirmPassword"
      name="password"
      id="confirmPassword-input"
      placeholder="Repetir contraseña..."
      required="required"
    />
    <select class="provincia"
            required="required"
            [(ngModel)]="this.country"
            name="provincia">
      <option *ngFor="let item of paises" value="{{item}}">
        {{item}}
      </option>
    </select>
    <button type="submit" id="register-btn" [disabled]="validate()" (click)="register_button()">Registrarse</button>
  </form>
    

  <div class="error">
    <div *ngIf="passwordError">
      Las contraseñas no coinciden.
    </div>

    <div *ngIf="userError">
      {{this.userErrorMessage}}
    </div>

    <div *ngIf="serviceError">
      Ha ocurrido un error inesperado: {{this.serviceErrorMessage}}
    </div>
  </div>
</div>
</body>