


html, body{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: url("../../assets/img/fondo.png");
  }
  
  
  /*-----------------------------------------------------POP UPS-------------------------------------------- */
  
  
  .tamanyo-popup{
    display:block;
  
    align-items: center;
    justify-content: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  
    left:auto;
    right: auto;
  
    position: relative;
  
    width: 500px;
  
  }
  
  
   /*----------------------------POP UP FRIENDS------------------------- */
  
  
   div.friend_list {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
  }
  
  div.title{
    align-items: center;
    text-align: center;
  }
  
  div.group {
    position: absolute;
    width: 25%;
    bottom: 1%;
  }
  
  div.friend {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
   
    
  }
  
  .input-user {
    width: 70%;
  }
  
  
  
  .no-amigos{
    position: relative;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
    color: red;
  }
  
  
  
  .lista-amigos1{
  
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .lista-amigos1:hover{
    background: #EEE;
  
  }
  
  .searcher-friends{
  
      display: block;
      position: relative;
      height: 3ch;
      width: 80%;
    
      margin:1%;
      margin-left: auto;
      margin-right: auto;
    
    
      font-size: large;
  
  }
  
  
  .searcher-users{
  
   
  
    display: block;
    position: relative;
    height: 4ch;
    width: 40%;
  
  
    
    margin-right: auto;
  
  
  
  }
  .buscador-amigos{
    display: flex;
  }
  
  .buscador-amigos button{
    position: absolute;
    padding-left: 10px;
    right: 50%;
  
  }
  
  .toolbar-amigos{
    background-color: #6b67667e;
    
    margin: 0;
    padding: 0%;
  }
  
  
  
  /* tabla amigos */
  
  
  
  
  
  div.popup {
    text-align: center;
  }
  
  
  
  
  
  /*--------Pedir código P.Privada----------*/
  .example-container .mat-form-field + .mat-form-field + .mat-label {
    margin-left: 8px;
    text-align: center;
  }
  
  
  /*-------Ayuda Reglas------------*/
  
  mat-checkbox{
    margin:30px;
  }

  div.mat-icon{
    margin-left: 30px;
  }

  .nombres{
    display: inline-flex;
  }

  .separacion{
    margin: 15px;
  }

  .check1{
    display: block;
  }

  
  