/*------------------------------ DIVS ------------------------------ */
div.torneo {
  padding-top: 2vh;
}

/*------------------------------ TABLE ------------------------------ */

input {
  display: block;
  height: 3ch;
  width: 80%;

  margin:1%;
  margin-left: auto;
  margin-right: auto;


  font-size: large;
}

table {
  width: 80%;

  margin:1%;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  font-size: large;
}

thead {
  font-size: x-large;
}