<div class="torneo">
    <div class="back">
        <button mat-icon-button (click)="this.router.navigateByUrl('')">
            <mat-icon>arrow_back</mat-icon>
          </button>
    </div>
    <div class="search-bar">
        <input id="searchbox" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Puedes buscar torneos aqui">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Creado por</th>
                <th>Jugadores</th>
                <th>Reglas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of torneoData | filter:searchText">
                <td>{{t.name}}</td>
                <td>{{t.jugadores}}/9</td>
                <td>{{t.reglas}}</td>
                <td>
                    <button class="btn-unirse" [routerLink]="'/torneoEspera/'+t.id">UNIRSE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button mat-button class="btn-crear" (click) ="crearPartidaTorneo()">Crear torneo</button>
</div>