/*------------------------------ DIVS ------------------------------ */
div.torneo {
  padding-top: 2vh;
}

/*------------------------------ TABLE ------------------------------ */

input {
  display: block;
  height: 3ch;
  width: 80%;

  margin:1%;
  margin-left: auto;
  margin-right: auto;


  font-size: large;
}

table {
  width: 80%;

  margin:1%;
  margin-left: auto;
  margin-right: auto;

  border:1px solid;
  border-collapse: separate;
  border-spacing: 2vw;
}

td {
  text-align: center;
  font-size: x-large;
}

thead {
  font-size: x-large;
}

.btn-unirse {
  height: 6vh;
  width: 8vw;

  font-size: x-large;

  

  cursor: pointer;

  transition: all 0.2s;
}


/*------------------------------ OTHER ------------------------------ */
div.back .mat-icon-button{
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1vh;
  left: 1vw;

  background-color:black;
}

div.back .mat-icon {
  display: inline;
  font-size: 6vh;
  color:white;
}

.btn-crear{
  margin: auto;
  font-family: "Fredoka One";
  background-color: #C7261A;
  color: white;
  padding: 20px;
  border-radius: 12px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  cursor: pointer;

  display: block;
  width: 200px;
  height: 80px;

  margin: 60px;
  margin-left: auto;
  margin-right: auto;

  font-size: large;
}


