<div class="torneo">
    <div class="back">
        <button mat-icon-button (click)="this.router.navigateByUrl('')">
            <mat-icon>arrow_back</mat-icon>
          </button>
    </div>
    <div class="search-bar">
        <input id="searchbox" class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Puedes buscar torneos aqui">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Creado por</th>
                <th>Jugadores</th>
                <th>Reglas
                    <button mat-icon-button mat-button (click)="abrirAyudaReglas()">
                        <mat-icon>help</mat-icon>
                        </button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of torneoData | filter:searchText">
                <td>{{t.creador}}</td>
                <td>{{t.nJugadores}}/9</td>
                <td class="reglas-block">
                   
                    <span *ngFor="let index of [0,1,2,3,4,5]">
                        <span *ngIf="t.reglasBool[index] != false">
                            <mat-checkbox  [(ngModel)] = "disabled"
                            [disableRipple]="true"
                            (click)="$event.preventDefault()">
                            </mat-checkbox>
                        </span>
                        <span *ngIf="t.reglasBool[index] == false">
                            <mat-checkbox   [disableRipple]="true"
                            (click)="$event.preventDefault()">
                            </mat-checkbox>

                        </span>
                    </span>
                    
                </td>
                <td>
                    <button class="btn-unirse" (click)="joinTorneo(t)">UNIRSE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button mat-button class="btn-crear" (click) ="crearPartidaTorneo()">Crear torneo</button>
</div>